{% extends 'todo/base.html' %}


{% block content %}

<a href="{% url 'completedtodo' %}">View completed to-dos</a>

<h1>My to-dos</h1>
<a href="{% url 'createtodo' %}">Add to-do</a>

<ul>
    {% for todo in todos %}
    <li>
        <a href="{% url 'viewstodo' todo.id  %}">{% if todo.important %}<b>{% endif %}To-do: {{ todo.To_do }}
            {% if todo.important %}</b>{% endif %}</a>
            {% if todo.Memo %} - {{ todo.Memo|truncatechars:100 }}{% endif %}
    </li>

    <br>
    <br>
    <br>


    {% endfor %}
</ul>

{% endblock %}