{% extends 'todo/base.html' %}


{% block content %}

<a href="{% url 'currentalogin' %}">Back</a>
<h1>Detailed info:</h1>
{{ error }}
<b>To-do: {{ todo.To_do }}</b><br><br><br>



<form method="POST">
    {% csrf_token %}
{{ form.as_p }}
    <button type="submit">Save</button>
</form>



<form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Work completed</button>
</form>



<form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>


{% endblock %}